@use '/src/styles/constants/colors';

.infoBlock {
  display: flex;

  .dietsWrapper {
    display: inline-flex;
    width: 200px;
    overflow: scroll;

    li {
      padding: 4px 10px;
      margin: 0 5px;
      background: colors.$VEGAN_BTN_BG;
      border-radius: 10px;
    }
  }

  a {
    display: block;
  }
}
