.imgCarousel {
  position: relative;
  width: 100%;

  > button {
    position: absolute;
    z-index: 1000;

    &:first-child {
      left: 10px;
    }

    &:nth-child(3) {
      right: 10px;
    }
  }
}
