@use '/src/styles/constants/colors';

.bkLink {
  position: fixed;
  top: 30%;
  left: 0;
  z-index: 10;
  padding: 15px;
  background: colors.$VEGAN_CARD_DARK;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(100, 100, 111, 20%) 0 2px 6px 0;
}

.underMap {
  min-width: 320px;
  padding: 20px;

  h1 {
    margin: 10px 0;
    font-size: 24px;
    text-transform: uppercase;
  }

  .storeCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-auto-rows: minmax(130px, auto);
    align-items: center;
    justify-items: center;
    margin-top: 20px;
  }
}
