.underMap {
  min-width: 320px;
  padding: 20px;

  h1 {
    margin: 10px 0;
    font-size: 24px;
    text-transform: uppercase;
  }

  .storeCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-auto-rows: minmax(130px, auto);
    align-items: center;
    justify-items: center;
    margin-top: 20px;
  }
}
