// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$VEGAN_KOREA: #6762f5;
$VEGAN_CHINA: #7af562;
$VEGAN_CAFE: #f4de62;
$VEGAN_RESTAURANT: #f59562;
$VEGAN_ETC: #f46278;

$VEGAN_BTN_BG: #f0f8ff;
$VEGAN_CARD_BG: #dedcff;
$VEGAN_CARD_DARK: #9d98ff;
