@use '/src/styles/constants/colors';

.mainBlock {
  h1 {
    display: inline-block;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  .detailBtn {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
    color: colors.$WHITE;
    text-align: center;
    background: colors.$VEGAN_KOREA;
    border-radius: 50%;
  }

  .infoWrapper {
    width: 75%;
    min-width: 320px;
    margin: 0 auto;
  }
}
