@use '/src/styles/constants/colors';

.colorPanel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 320px;
  height: 50px;
  pointer-events: none;
  user-select: none;
  background: colors.$GRAYE;

  li:first-child {
    position: relative;

    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: colors.$VEGAN_KOREA;
      border-radius: 50%;
    }
  }

  li:nth-child(2) {
    position: relative;

    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: colors.$VEGAN_CHINA;
      border-radius: 50%;
    }
  }

  li:nth-child(3) {
    position: relative;

    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: colors.$VEGAN_CAFE;
      border-radius: 50%;
    }
  }

  li:nth-child(4) {
    position: relative;

    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: colors.$VEGAN_RESTAURANT;
      border-radius: 50%;
    }
  }

  li:last-child {
    position: relative;

    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: colors.$VEGAN_ETC;
      border-radius: 50%;
    }
  }
}
