@use '/src/styles/constants/colors';

.storeItemWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  min-width: 320px;
  min-height: 120px;
  background: linear-gradient(180deg, colors.$VEGAN_CARD_BG 30%, colors.$WHITE 30%);
  border-radius: 8px;

  .imgWrapper {
    position: relative;
    top: -16px;
    left: 5px;
    width: 60px;
    height: 60px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .infoWrapper {
    position: relative;
    left: 10px;
    width: 80%;
    text-align: left;

    .linkBlock {
      margin-top: 20px;
      margin-right: 10px;
      text-align: end;

      a {
        padding: 3px 15px;
        color: colors.$VEGAN_CARD_BG;
        background: colors.$BLACK;
        border-radius: 4px;

        &:visited {
          color: colors.$VEGAN_CARD_BG;
        }
      }

      button {
        padding: 3px 15px;
        margin-left: 5px;
        font-size: 17px;
        color: colors.$WHITE;
        background: colors.$RED;
        border-radius: 4px;
      }
    }

    span {
      display: block;
      max-width: 220px;
      overflow: hidden;
      font-size: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    dl {
      dt {
        display: none;
      }

      .menuBlock {
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
